dist
dist-*
a.out
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
/coverage
/build
.DS_Store
*.log
*.swp
*.un
madlib_modules
.tests
.run
.snapshots/*/actual
/runtime/build
/runtime/lib
/runtime/share
/runtime/include
/madlib.json
/node_modules
package-lock.json
.coverage
fixtures
.tmp_modules
.module_cache
.docs
.vscode
